#page-facade {
  width: 100%;
  height: 100%;
}

#page-facade main {
  margin: 3.2rem auto;
  width: 100%;
}

.page-facade-container {
  background: var(--color-box-base);
  border: 1px solid var(--color-primary-light);
  border-radius: 0.8rem;
  overflow: hidden;
}

.button-init-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.button-init-container a {
  width: 40rem;
  height: 10rem;
  border-radius: 1rem;
  border: 1px solid var(--color-primary-lighter);
  font: 700 3rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
  background: var(--color-primary-light);
}

.button-init-container a:hover {
  background: var(--color-primary-lighter);
}

.button-container-img {
  margin-right: 2.1rem;
}

@media (min-width: 700px) {
  #page-facade {
    max-width: 100%;
  }

  #page-facade main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }
}
